.App {
    text-align: center;
    height: 100vh;
   
  }
  body{
    background-image: url('../images/bg.jpg');
  }
  .empty{
    height: 10px;
  }
  .container{
    width: 300px;
    
  }
  button{
    height: 50px;
    border: none;
  }
  input{
    height: 80px;
    border: none;
    outline: none;
  }