.form{
    background-color: $color3;
    width: 600px;
    color: white;
}
.button{
    background-color: $color1;
    color: black;
}
.size{
    height: 400px;
    color: $color1;
    font-size: large;
   
}
.mes{
    color: red;
}