$size:130px;
.circle{
    height: $size;
    width: $size;
    border-radius: $size;
    border: 5px solid black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}